*venv/
**/__pycache__/
**/*.pyc
# ide
.idea
.vscode
.chroma
*.key
*.crt
apps/utils/init
*.bak
apps/embedding
logs
.git-credentials
.ruff_cache/
config
uv.lock
node_modules/
package-lock.json
package.json

!mcp_center/config/
!witty_mcp_manager/**/config/